* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
}

/* Nav Search Styles */
.nav-search {
  width: 560px;
  height: 40px;
  margin: 20px auto 20px auto;
}
.nav-search input {
  width: 560px;
  height: 40px;
  border: 2px solid rgb(208, 205, 205);
  border-radius: 4px;
  padding-left: 5px;
}
.nav-search input:focus {
  background-color: rgb(208, 225, 240);
}

/* Gallery Styles */
img {
  width: 180px;
  height: 180px;
  box-shadow: 2px 2px rgb(182, 184, 183);
}

.gal-container {
  display: grid;
  justify-content: center;
}
.gallery {
  /* background-color: black; */
  display: grid;
  width: auto;
  height: 100%;
  grid-template: 1fr / repeat(4, 180px);
  gap: 25px;
  margin-right: 100px;
}
/* max-width: 900px;
  position: absolute;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 18px; */
