* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Nav Search Styles */
.nav-search {
  width: 560px;
  height: 40px;
  margin: 20px auto 20px auto;
}
.nav-search input {
  width: 560px;
  height: 40px;
  border: 2px solid rgb(208, 205, 205);
  border-radius: 4px;
  padding-left: 5px;
}

/* Gallery Styles */
img{
    width: 170px;
    height: 200px;
}

.gallery{
    max-width: 900px;
    display: grid;
    justify-content: center;
    position: absolute;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-gap: 25px;
}